

body {
    display: contents;
    justify-content: center;
    margin: 0;
    background-color: #d26c6c;
  }

  h1 {
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    font-size: 26px;
    padding: 1em 0 0 1em;
    color: #0c686e;
    text-align: center;
  }

img {
 justify-content: center;
 display: block;
}


.btn-class-name .front {
position: absolute;
transform: translateY(-50%), translateX(-50%);
transition: .15s;
}